
.but {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    height: 100vh;
}

.but button {
    width: 200px;
    height: 80px;
    text-transform: uppercase;
    font-weight: bold;
}